* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

h1,
h2 {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 15px;
}

/* hero section code */
.hero {
  background: linear-gradient(135deg, #0a192f, #007bff);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero span {
  color: #ffd700;
}

/* Services section code */
.services {
  padding: 60px 0;
  background: #f8f9fa;
  color: #212529;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* About section code */
.about {
  padding: 60px 0;
  text-align: center;
}

/* Contact section code  */
.contact {
  padding: 60px 0;
  background: #f8f9fa;
  color: #212529;
}

form {
  max-width: 500px;
  margin: auto;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  /* border-radius: 10px; */
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* CTA section code  */
.cta {
  /* background: #0a192f; */
  background: linear-gradient(135deg, #3276dd, #0a192f);
  color: white;
  text-align: center;
  padding: 50px 20px;
}

footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  background: #eee;
}
